<meta name="viewport" content="width=device-width, initial-scale=1.0">
<div class="row-fluid">
  <div class="private-square span3 text-center">
    <h1> Digital Storytellers </h1>
    <h4> Our stories are unique. Record yours today. </h4>

    <%= link_to 'Record', '#', :class => 'btn btn-inverse btn-large' %>
    <br/>
    <div class="row-fluid">
        <div class="private-square span 3 text-center"> 
          <h1> Popular Stories </h1>
      </div>
    </div>
  </div>
  
  <div class="private-square span6">
    <h1>Our Story</h1>
    <p class="lead">We all have an interesting story to tell. We connect you with stories from around the world and also give you the chance to tell yours. Add a face to your story by uploading your photo to go along with your recording.</p>
  </div>
</div>