
<div class="row-fluid">
  <div class="private-square span3 text-center">
    <h1> Digital Storytellers </h1>
    <h4> Our stories are unique. Record yours today. </h4>

    <%= link_to 'Record', 'http://firehose-105408.usw1-2.nitrousbox.com/posts/new', :class => 'btn btn-inverse btn-large' %>

  </div>
  
  <div class="private-square span6">
    <h1>Our Story</h1>
    <p class="lead">We all have an interesting story to tell. We connect you with stories from around the world and also give you the chance to tell yours.</p>
  </div>
</div>

<div class="private-square span6 offset3">
  <h1> What Do I Write?</h1>  
  <p> Questions/topics you can think about:</p>
  <h4> 1. Talk about a time in your life when you were scared.</h4>
  <h4> 2. Talk about the happiest/saddest memory you have.</h4>
  <h4> 3. What are you most scared of?</h4>
  <h4> 4. What do you want for yourself?</h4>
  <h4> 5. Something you learned the "hard way."</h4>
</div>