
<div class="row-fluid">
  <div class="private-square span3 text-center">
    <h1> Digital Storytellers </h1>
    <h4> Our stories are unique. Record yours today. </h4>

    <%= link_to 'Record', 'http://firehose-105408.usw1-2.nitrousbox.com/posts/new', :class => 'btn btn-inverse btn-large' %>

  </div>
  
  <div class="private-square span6">
    <h1>Our Story</h1>
    <p class="lead">We all have an interesting story to tell. We connect you with stories from around the world and also give you the chance to tell yours.</p>
  </div>
</div>